{% extends '_layouts/base.html' %}

{% load static %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'topic_browser/js/shade_tokens.js' %}"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'topic_browser/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'topic_browser/css/topic_table.css' %}">
{% endblock %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="{% url 'topics_models' %}">Models</a></li>
        <li class="active">Topics</li>
    </ol>

    <h1>Model <em>{{ topic_model.name }}</em></h1>

    <table class="topics-table">
        <thead>
        <tr>
            {% for topic in topic_model.topics.all %}
                <th>
                    <h3>Topic <span>{{ topic.index }}</span></h3>
                    <a href="{% url 'topics_topic' model_id=topic_model.id topic_id=topic.id %}"
                       class="btn btn-sm btn-default">Examples</a>
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in token_rows %}
            <tr>
                {% for token in row %}
                    <td title="Prob: {{ token.probability|floatformat:5 }}, Freq: {{token.token.document_frequency}}">
                        <a class="token"
                           data-probability="{{ token.probability }}"
                           href="{% url 'topics_topic_token' model_id=topic_model.id topic_id=token.topic_id token_id=token.id %}">
                            {{ token.token.text }}
                        </a>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
